/* StepIndicator.scss */

@import '../../config.scss';

.step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px auto;
  z-index: 999;
}

.step {
  width: 64px;
  height: 64px;
  font-family: $font-montserrat;
  background-color: $background-grey;
  color: $color-text-white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-medium;
  margin: 0 5px; /* Adicionado margem entre as etapas */
}

.step.active {
  background-color: $background-green;
  color: $color-text-white;
}
