@import '../../config.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1;
  width: 75%;
  height: 70%;
  background: url('../../assets/pxfuel.jpg') center/cover no-repeat;
  border-radius: 15px;
}
.divStepModal{
  display: flex;
  justify-content: center;
  align-items: center;

}
.tituloCard{
  color: $color-text-white;
  display: flex;
  margin-top: 50px;
  font-family: $font-montserrat;
  font-size: $font-big;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.close-button {
  position: absolute;
  top: 40px;
  right: 50px;
  color: $color-text-white;
  font-family: $font-montserrat;
  font-size: $font-big;
  cursor: pointer;
}
.back-button{
  display: flex;
  bottom: 20px;
  left: 40px;
  position: absolute;
  gap: 10px;
  color: $color-text-white;
  font-family: $font-montserrat;
  font-size: $font-big;
  cursor: pointer;
}
.modal-container{
  width: 100%;
  height: 100%;
  background-image: url('../../assets/pxfuel.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.modal-content {
  display: flex;
  text-align: center;
  gap: 10px;
}
.completed {
  background-color: $background-green;
}

