@import 'typeface-chilanka';
@import 'typeface-montserrat';


$font-chilanka: 'chilanka', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$font-big: 32px;
$font-medium: 24px;
$font-small: 14px;

$color-text-white: #fff;
$color-text-dark: #000;


$background-white: #fff;
$background-orange: #FF9F2E;
$background-grey:  #D9D9D9;
$background-red: #B82626;
$background-green: #4AC06F